*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SideNav{
    position: absolute;
    right: 25px;
    border: 1px solid brown;
    margin-top: 25px;
    width: 30%;
    text-align: center;
  
}
.SideNav ul{
    list-style: none;
    padding: 10px 10px;
}

.SideNav ul li{
    margin-top: 10px;
}
.SideNav ul li button{
    padding:10px;
    text-align: center;
    font-size: 20px;
}
